[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
flake8 = "*"
isort = "*"

[packages]
django = "*"
djangorestframework = "*"
psycopg2-binary = "*"
environs = {extras = ["django"], version = "*"}

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
